<div class="container-fluid" th:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">대시보드</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                등록된 질문 수</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${mainView.questionCount}">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                등록된 답변 수</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${mainView.registeredReplyCount}">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                총 회원 수</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${mainView.totalMemberCount}">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">오늘의 유용한 표현</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- add the horizontal line here -->
                        <div class="col-md-6 border-right pr-3" th:each="todayUsefulExpression : ${mainView.todayUsefulExpressions}">
                            <h3 th:text="${todayUsefulExpression.expression}"></h3>
                            <p class="mb-0" th:text="${todayUsefulExpression.meaning}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>