<div class="container-fluid" th:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">질문 관리</h1>
    <p class="mb-4">등록된 질문 정보를 관리합니다.</p>

    <!-- Add the input form and submit button -->
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">질문 등록하기</h6>
        </div>
        <div class="card-body">
            <form id="questionForm">
                <div class="form-group">
                    <label for="enContent">내용</label>
                    <input type="text" class="form-control" id="enContent" placeholder="내용을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="koContent">해석</label>
                    <input type="text" class="form-control" id="koContent" placeholder="해석을 입력하세요">
                </div>
                <!-- TODO : add event handler, send POST request to /api/question -->
                <button type="submit" class="btn btn-primary">질문 등록</button>
            </form>
        </div>
    </div>
    <!-- End of input form and submit button -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">질문 테이블 (레코드를 클릭하면 상세 페이지로 넘어갑니다)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>idx</th>
                        <th>내용</th>
                        <th>해석</th>
                        <th>저자</th>
                        <th>응답 달린 수</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>idx</th>
                        <th>내용</th>
                        <th>해석</th>
                        <th>저자</th>
                        <th>응답 달린 수</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="question : ${questions}" th:data-href="@{/question-management/{questionId}(questionId=${question.questionId})}">
                        <td th:text="${question.questionId}"></td>
                        <td th:text="${question.content}"></td>
                        <td th:text="${question.koContent}"></td>
                        <td th:text="${question.authorName}"></td>
                        <td th:text="${question.repliesCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Add this at the end of your tables.html file -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {
            // Add these event handlers
            $('tbody tr').hover(
                function () {
                    $(this).addClass('hover-bg');
                },
                function () {
                    $(this).removeClass('hover-bg');
                }
            );

            // Add this event handler
            $('tbody tr').on('click', function (event) {
                if (!$(event.target).hasClass('delete-btn')) {
                    window.location.href = $(this).data('href');
                }
            });

            // Add an event handler for the form submission
            $('#questionForm').on('submit', function (event) {
                event.preventDefault();

                // Get the form data
                const enContent = $('#enContent').val();
                const koContent = $('#koContent').val();
                if (enContent.length < 1) {
                    alert("질문 내용을 입력하세요.")
                    return;
                }

                if (koContent.length < 1) {
                    alert("해석 내용을 입력하세요.")
                    return;
                }

                if (!/^[A-Za-z0-9\s\\!@#$%^&*(),.?":{}|<>]+$/.test(enContent)) {
                    alert("질문에는 영문 또는 영문과 숫자의 조합만 입력하세요.");
                    return;
                }

                // Send a POST request to /api/question
                $.ajax({
                    url: '/api/question',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        content: enContent,
                        koContent: koContent
                    }),
                    success: function () {
                        alert('질문이 등록되었습니다.');
                        location.reload();
                    },
                    error: function (error) {
                        alert('질문 등록에 실패했습니다: ' + error.responseText);
                    }
                });
            });
        });
    </script>

</div>