<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: content('Ink Admin')"></head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">어드민 계정 생성</h1>
                        </div>
                        <form class="user" onsubmit="register(event)">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="username" name="username"
                                       placeholder="아이디">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nickname" name="nickname"
                                       placeholder="별명">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           id="password" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="repeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/bottom :: content"></div>

<script>
    function register(event) {
        event.preventDefault();

        const username = $('#username').val();
        const nickname = $('#nickname').val();
        const password = $('#password').val();
        const repeatPassword = $('#repeatPassword').val();

        // 1. Check username length
        if (username.length < 6 || username.length > 14) {
            alert('아이디는 6자 이상 14자 이하로 입력해주세요.');
            return;
        }

        // 2. Check username is written in English only or English + Number combination
        if (!/^(?=.*[A-Za-z])[A-Za-z\d]+$/.test(username)) {
            alert('아이디는 영문자 또는 영문자와 숫자 조합으로 입력해주세요. (숫자만 사용할 수 없습니다)');
            return;
        }

        // 3. Check nickname length
        if (nickname.length < 2 || nickname.length > 8) {
            alert('별명은 2자 이상 8자 이하로 입력해주세요.');
            return;
        }

        // 4. Check password length
        if (password.length < 8) {
            alert('비밀번호는 8자 이상으로 입력해주세요.');
            return;
        }

        // 5. Check password is a combination of English characters, numbers, and special characters
        if (!/(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_])/.test(password)) {
            alert('비밀번호는 영문자, 숫자, 특수문자의 조합으로 입력해주세요.');
            return;
        }

        // Check passwords match
        if (password !== repeatPassword) {
            alert('비밀번호가 일치하지 않습니다.');
            return;
        }

        const data = {
            username: username,
            nickname: nickname,
            password: password
        };

        $.ajax({
            url: '/register',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                // Handle successful registration
                console.log(response)
                alert('계정 신청이 완료되었습니다. 관리자 승인을 기다려주세요.');
                window.location.href = '/login';
            },
            error: function (xhr, status, error) {
                // Handle registration error
                console.log(error)
                alert('회원가입 실패: ' + xhr.responseText);
            }
        });
    }

</script>
</body>

</html>
