<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: content('Ink Admin')"></head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">어드민 계정 생성</h1>
                        </div>
                        <form class="user" onsubmit="register(event)">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="username" name="username"
                                       placeholder="아이디">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nickname" name="nickname"
                                       placeholder="별명">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           id="password" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="repeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/bottom :: content"></div>

<script>
    function register(event) {
        event.preventDefault();

        const username = $('#username').val();
        const nickname = $('#nickname').val();
        const password = $('#password').val();
        const repeatPassword = $('#repeatPassword').val();

        if (password !== repeatPassword) {
            alert('비밀번호가 맞지 않습니다.');
            return;
        }

        const data = {
            username: username,
            nickname: nickname,
            password: password
        };

        $.ajax({
            url: '/register',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                // Handle successful registration
                console.log(response)
                alert('회원가입 완료!');
                window.location.href = '/login';
            },
            error: function(xhr, status, error) {
                // Handle registration error
                console.log(error)
                alert('회원가입 실패: ' + xhr.responseText);
            }
        });
    }
</script>
</body>

</html>
