<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="content">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">떠나시려는 건가요?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃 버튼을 누르면 현재 세션을 종료합니다.</div>
            <div class="modal-footer">

                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="로그아웃" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>